/* #link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#link h3 {
    padding: 64px;
    outline: 4px red solid;
} */



table {
    margin-top: 72px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
table tr {
    width: 100%;
}
table td {
    border: solid 1px black;
    width: 350px;
    /* width: 100%; */
    padding: 64px 0;


    /* ボタンアニメーション */
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
	text-decoration: none;
    /* text-align: center; */
    outline: none;
    /*アニメーションの指定*/   
    transition: ease .2s;
}


table td span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color:#333;
}
table td:hover span{
    color: white;
}

/*== 背景が流れる（左から右） */
table td:before {
    content: '';
   /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
   /*色や形状*/
    background:#333;/*背景色*/
    width: 100%;
   height: 100%;
   /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
   transform-origin: right top;
}

table td:hover:before{
	transform-origin:left top;
	transform:scale(1, 1);
}


table tr td a {
    width: 100%;
    height: 100%;
}




@media screen and (max-width: 700px) {

    table td {
        display: block;
        width: 100%;
    }
}